
img {
    max-width: 100%;
    height: auto;
    width: auto\9; }

h1{
   border-color: black;
   border-style: solid;
   border-width: 2px;
}


body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(109, 109, 109);
}

section{ background-color: rgba(146, 146, 146, 0.488);}

footer {
    background-color: rgba(146, 146, 146, 0.488);
}

